.main {
  padding: 24px;
  font-family: inherit;
  min-height: 90vh;
}

.main h1 {
  font-size: 3em;
}

.main h2 {
  font-size: 2em;
}

.main p {
  font-size: 1.3em;
  margin: 20px auto;
}

.main ul {
  font-size: 1.3em; 
}

.main strong {
  color: #4260c4;
}

.main center {
  font-size: 1.3em;
  font-weight: bold;
  color: #4260c4;
}

@media (min-width: 600px) {
  .main h1 {
    font-size: 5em;
  }
  
  .main h2 {
    font-size: 3em;
  }
  
  .main p {
    font-size: 2em;
  }
  
  .main ul {
    font-size: 2em; 
  }
  
  .main center {
    font-size: 2em;
  }
}