.post {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid white;
  margin-left: 20px;
  position: relative;
}

.post__featured {
  max-height: 330px;
  max-width: 770px;
  margin: 0 auto;
}

.post__title {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.post__excerpt {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 770px;
}

.post .post__meta {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.post__button {
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.post a {
  background-color: #fff;
  border: 1px solid #222;
  color: #371a2b;
  padding: 16px 24px;
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;
  transition: all 0.3s;
}

.post a:hover {
  color: #fff;
  background-color: #222;
}
