.blogTemplate .blogTemplate__title {
  margin: 80px 0 24px;
  text-align: center;
}

.blogTemplate .blogTemplate__author {
  font-size: 1.2em;
}

.blogTemplate .blogTemplate__link {
  color: #fff;
}

.blogTemplate .blogTemplate__img {
  margin: 20px 0;
}

.blogTemplate__content img {
  margin: 0;
}

.blogTemplate__content p {
  max-width: 100%;
  margin: 20px 0;
  text-align: left;
}